PORT=3001
CHATBOT_URL=http://localhost:8000

# === MYSQL ===
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=crm_mini

# === FACEBOOK MESSENGER ===
FB_PAGE_ACCESS_TOKEN=EAAVHohVwh7UBRPXH2wMZCAnzO4ZAG3d2Iyn2XkfQTP7MTQnZCZCihhx9ZCk7XYicVO6yXsmmPZBa8MNc2pByrpKlryoz7crdejg1Ydz0C5bjm47mL8HYRyGqUHopVtENo3MBcfQByxfjPIZCVWFsF6ZAoaMpiW2mfYpepvZAQunPYHleZBarMx3synefC9XBybwwCLhgoQyZBKN
FB_VERIFY_TOKEN=crm_mini_verify_123
FB_APP_SECRET=01c8fe2dca43a92d0867df48c75da1ba

# === ZALO OA ===
ZALO_OA_ACCESS_TOKEN=your_oa_access_token_here
ZALO_APP_SECRET=your_app_secret_here

# === AUTO REPLY ===
AUTO_REPLY_ENABLED=true
